1_Human_Resources/.ipynb_checkpoints/
Kaggle/Classification/1_irrigation_playground-series-s6e4/output/
Kaggle/Classification/1_irrigation_playground-series-s6e4/scripts/catboost_info/
Kaggle/Classification/1_irrigation_playground-series-s6e4/data
Kaggle/Classification/1_irrigation_playground-series-s6e4/output/submission15.csv
